@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "تایید تنظیم مجدد رمز عبور";
}

<h1>@ViewData["Title"]</h1>
<p>
    Your password has been reset. Please <a asp-page="./Login">برای ورود کلیک نمایید.</a>.
</p>
