@{
    ViewData["Title"] = "ثبت نام موفق";
}

<h2>ثبت نام با موفقیت انجام شد!</h2>
<p>می‌توانید وارد سیستم شوید.</p>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">بازگشت به خانه</a>
