html {
    font-size: 14px;
    direction: rtl;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


/*********************************************************************************************************/
/* General header styling */

@font-face {
    font-family: 'Vazir';
    src: url('/fonts/Vazir/Vazir.woff2') format('woff2'), url('/fonts/Vazir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('/fonts/Merriweather-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather-Regular';
    src: url('/fonts/Merriweather-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather-Italic';
    src: url('/fonts/Merriweather-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather-Bold';
    src: url('/fonts/Merriweather-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

pre, code { 
    font-family: Vazir, Merriweather-Regular, Arial, sans-serif; /* Ensure Merriweather-Regular, fallback to Arial and sans-serif */
}

body {
    padding-top: 110px; /* Adjust for header height */
    font-family: 'Vazir'; /* Merriweather as primary, fallback to sans-serif */
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 60px;
    text-align: right;
    direction: rtl;
}

h2 {
    direction: rtl;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(255, 211, 0); /* Transparent background with alpha */
    backdrop-filter: blur(10px); /* Add blur effect */
    z-index: 1000;
    color: red;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    padding: 2px 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin: 0;
}

    header.hidden-header {
        transform: translateY(-100%); /* Hidden on scroll down */
    }

    header.visible-header {
        transform: translateY(0); /* Visible on scroll up */
        background: rgba(255, 211, 0); /* Darker background on scroll */
    }

    header .navbar-brand {
        font-size: 1.5rem;
        font-weight: bold;
        color: #fff;
    }

    header .navbar-toggler {
        border: none;
        background-color: transparent; /* Optional for cleaner look */
    }

    header .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%2877, 77, 77, 0.9%29' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        background-size: contain; /* Make the icon fully visible */
        background-repeat: no-repeat; /* Ensure no repetition */
        width: 30px; /* Adjust width if needed */
        height: 30px; /* Adjust height if needed */
    }

.navbar {
    padding: 1px 0; /* Reduce padding between navbar and container */
}

header .nav-link {
    color: rgba(3, 71, 153, 1);
    text-transform: uppercase;
    font-weight: 500;
    transition: color 0.3s ease;
    font-weight: bold; /* Set the font weight to bold */
}

    header .nav-link:hover {
        color: #00bcd4; /* Highlight color */
        text-decoration: none;
        font-weight: bold; /* Set the font weight to bold */
    }

/* Section Styling for Demo */
.section {
    padding: 60px 0;
}

.section-title {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

#home {
    position: relative;
    text-align: center;
    background-color: rgba(3, 71, 153, 1); /* Maintained the original background color */
    padding: 3% 5%; /* More padding for centering content and better spacing */
    height: 35vh; /* Full screen height */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    transition: background-color 0.3s ease-in-out; /* Smooth background transition */
    border-radius: 10px; /* Rounded corners for a modern look */
}


    #home .overlay {
        position: absolute;
        top: 0; /* Fix: Start from the top of #home */
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5); /* Keep semi-transparent overlay */
        color: white;
        text-align: center;
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        backdrop-filter: blur(5px);
        transition: all 0.3s ease-in-out;
    }



    #home p {
        font-size: 2vw; /* Responsive font size based on viewport width */
        font-weight: bold;
        text-align: center;
        margin: 0 auto;
        max-width: 80%; /* Ensure text width is limited to 80% of container */
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        color: rgba(255, 211, 0);
    }

    #home a.btn {
        padding: 1rem 2rem;
        font-size: 1rem; /* Smaller font size for buttons on smaller screens */
        border-radius: 50px;
        text-decoration: none;
        color: black;
        margin-top: 10px;
        font-weight: bold;
    }

@media (max-width: 768px) {
    #home p {
        font-size: 4vw; /* Adjust for smaller screens */
    }

    #home a.btn {
        font-size: 0.9rem; /* Adjust button font size for smaller screens */
        padding: 0.8rem 1.5rem; /* Reduce padding */
        width: 100%; /* Ensure button width covers full container */
    }

    .navbar-collapse.show {
        display: block; /* Show the menu when the class is added */
    }
}




#about {
    padding: 4rem 2rem;
    background: #f8f9fa;
}

#services {
    padding: 2rem; /* Increase padding for better spacing */
    background: rgba(3, 71, 153, 1);
}

.services-list {
    width: 100%;
    display: grid; /* Use grid for better control */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
    gap: 1rem; /* Space between the grid items */
    padding: 1rem;
}

.service-item {
    background: none;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 1rem; /* Reduced font size for better responsiveness */
    background-color: rgba(255, 211, 0, 0.2);
    font-weight: bold;
}

    .service-item h3 {
        font-size: 1.2rem; /* Adjust for smaller screens */
        color: rgba(3, 71, 153, 1);
    }


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.logo {
    max-height: 60px; /* Resize logo to fit header */
    width: auto; /* Keep the aspect ratio */
    opacity: 0.8; /* Make the logo slightly transparent */
    display: inline-block; /* Maintain inline block display */
    padding-left: 20px; /* Optional: Adjust padding if needed */
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    header .navbar-brand {
        font-size: 1.2rem; /* Adjust the navbar brand font size for smaller screens */
    }

    #home h1 {
        font-size: 3rem; /* Reduce the header text size on smaller screens */
    }

    #home p {
        font-size: 1.2rem; /* Reduce the paragraph font size on smaller screens */
    }

    .services-list {
        flex-direction: column; /* Stack services on smaller screens */
    }
}

.faq-section {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(3, 71, 153);
    border: 1px solid #ddd;
    border-radius: 5px;
}

.faq-item {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.faq-question {
    background-color: rgba(3, 71, 153);
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    direction: rtl;
    text-align: right;
}

.faq-toggle {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 1em;
    direction: rtl;
    text-align: right;
}

.faq-answer {
    display: none;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 0 0 5px 5px;
}

.faq-item.active .faq-answer {
    display: block;
}

.faq-item.active .faq-question {
    background-color: #0056b3;
}

.alert {
    position: fixed;
    color: forestgreen;
    top: 80px;
    right: 10px;
    padding: 0;
    width: 1400px;
    z-index: 1050;
    text-align: center;
    background-color: transparent;
    border: 1px solid #ccc; /* Optional border color */
}

.alert-warning {
    background-color: #258cfb;
    color: black;
}
.alert-success {
    background-color: green;
    color: white;
    width: 300px;
    height: 40px;
}
/* Back-to-Top Button Styling */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none; /* Hide by default */
    background-color: rgba(3, 71, 153); /* Button background color */
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px; /* Size of the arrow */
    text-align: center;
    line-height: 50px; /* Center the arrow vertically */
    cursor: pointer;
    z-index: 1050;
    transition: all 0.3s ease-in-out;
}

/* Show button on scroll */
.show {
    display: block;
}

button{
    margin: 5px;
}
